ul.gallery-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

li.gallery-item {
    height: 23vh;
    flex-grow: 1;
    width: calc(95%/3);
    margin: 5px;
}

img {
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

@media(max-width: 991px){
    li.gallery-item{
        height: 17vh;
    }
    .navbar{
        flex-wrap: nowrap;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        margin: 0 5px;
    }
}

@media(max-width: 768px){
    li.gallery-item{
        height: auto;
        width: auto;
    }
    .navbar{
        flex-wrap: wrap;
    }
    .navbar-nav{
        flex-direction: column;
    }
    .small{
        padding: 20px 0 20px 50px;
    }
}